<section class="hero box">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    <img src="~/img/unikitty.png">
                </div>
                <div class="column">
                    <p class="title">
                        <b>M U L E</b>
                    </p>
                    <p class="subtitle">
                    <p>Magical Unicorn Land</p>
                    <p>
                        <small>
                            <i>Enterprise Edition</i>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>