@{ 
    ViewData["Ponies"] = new Random().NextDouble() > 0.95;
    ViewData["Nyan"] = new Random().NextDouble() > 0.55;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Magical Unicorn Land (Enterprise Edition)</title>
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body class="background" id="unicorn_bg" onload="egg1()">
    <div class="main">
        @{Html.RenderPartial("_Header");}
        <br />
        <section>
            <div>
                @RenderBody()
            </div>
        </section>
        <div class="push">
            <br />
        </div>
        <div class="push">
            <br />
        </div>

    </div>
    @if ((ViewData["Nyan"] as bool?) ?? false)
    {
        <div class="nyan" onmouseout="egg2()" ></div>
    }
    @{Html.RenderPartial("_Footer");}
        <script src="~/js/site.min.js" type="text/javascript"></script>
        @if ((ViewData["Ponies"] as bool?) ?? false)
        {
            <script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/basecfg.js" id="browser-ponies-config"></script>
            <script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/browserponies.js" id="browser-ponies-script"></script>
            <script type="text/javascript">/* <![CDATA[ */ (function (cfg) { BrowserPonies.setBaseUrl(cfg.baseurl); BrowserPonies.loadConfig(BrowserPoniesBaseConfig); BrowserPonies.loadConfig(cfg); })({ "baseurl": "https://panzi.github.io/Browser-Ponies/", "fadeDuration": 500, "volume": 0, "fps": 25, "speed": 3, "audioEnabled": false, "showFps": false, "showLoadProgress": false, "speakProbability": 0.1, "spawn": { "applejack": 1, "fluttershy": 1, "pinkie pie": 1, "rainbow dash": 1, "rarity": 1, "twilight sparkle": 1 },"spawnRandom": getRandomPony(), "autostart": true }); /* ]]> */</script>
        }
        @RenderSection("scripts", required: false)
</body>
</html>
