@{
    Layout = "_Errors";
}
<div class="is-fullwidth" style="height: 600px">
    <a href="http://huanji.me/robot-unicorn-attack/" class="button is-large is-black" style="top:50%; left:50%;">
        @ViewData["Message"]
    </a>
</div>
